ENV=dev|prod

# PHPMailer Settings
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_SECURITY=tls

# RabbitMQ Settings (optional service disabled by default)
RMQ_ENABLED=0
RMQ_HOST=localhost
RMQ_VHOST=/
RMQ_PORT=5672
RMQ_USERNAME=guest
RMQ_PASSWORD=guest

# Test credentials, used for placeholder, shouldn't be used on production
ADMIN_USERNAME=root
ADMIN_PASSWORD=secret

# Database variables
DB_DRIVER=mysql
DB_HOST=mysql_slim
DB_NAME=db_slim
DB_USER=root
DB_PASSWORD=root

#JWT token
JWT_TOKEN=apptoken